<h1>Guest Show</h1>

<h4>Name: <%= @guest.to_s%> </h4>
<%= button_to "Log Out", logout_path, method: :get %><br>

<% @guest.reservations.each do |reservation| %>
    <%= link_to reservation.id, reservation_path(reservation) %><br>
    <% if reservation.house %><br>
        <%= reservation.house.address %>
    <% end %>   
    <%= reservation.reservation_start_date %><br>    
    <%= reservation.reservation_end_date %><br><br>  
<% end %>

<%= link_to "Search", houses_path %>