<h1>Login</h1>

<div class="main">
<%= flash[:message] %> 
<%= form_for :auth do |f| %> 
<%= f.text_field :first_name %> 
<%= f.submit "Login" %> 
<% end %> <br>
<%= button_to "Sign Up as Guest", new_guest_path, method: :get %><br>
<%= button_to "Sign Up as Host", new_host_path, method: :get %>
</div>


