<h1>House Index</h1>

<h4>Search By: </h4>
Minimum Bedrooms
   <%= form_tag(houses_path, method: :get) do %>
      <%= text_field_tag :bedrooms, params[:bedrooms] %>
      <%= submit_tag ("Search") %>
   <% end %>
Minimum Bathrooms
   <%= form_tag(houses_path, method: :get) do %>
      <%= text_field_tag :bathrooms, params[:bathrooms] %>
      <%= submit_tag ("Search") %>
   <% end %>
Minimum Number of Parking Spots
   <%= form_tag(houses_path, method: :get) do %>
      <%= text_field_tag :parking, params[:parking] %>
      <%= submit_tag ("Search") %>
   <% end %>
Minimum Guest Capacity
   <%= form_tag(houses_path, method: :get) do %>
      <%= text_field_tag :guest_limit, params[:guest_limit] %>
      <%= submit_tag ("Search") %>
   <% end %>
Pet Friendly<br>(true = 1 /false = 0)
   <%= form_tag(houses_path, method: :get) do %>
      <%= text_field_tag :pet_friendly, params[:pet_friendly] %>
      <%= submit_tag ("Search") %>
   <% end %>
House Type
   <%= form_tag(houses_path, method: :get) do %>
      <%= text_field_tag :house_type, params[:house_type] %>
      <%= submit_tag ("Search") %>
   <% end %>
Maximum Cost per Day
   <%= form_tag(houses_path, method: :get) do %>
      <%= text_field_tag :cost_per_day, params[:cost_per_day] %>
      <%= submit_tag ("Search") %>
   <% end %>
<br>

<h3> All Available Houses:</h3>

   <% @house.map do |house| %>
      <div class="card-deck">
         <div class="card">
            <img src="<%= house.img_url %>" class="card-img-top" alt="pic of house">
            <div class="card-body">
               <h5 class="card-title">Address: <%= house.address %></h5>
               <p class="card-text">Bedrooms: <%= house.bedrooms %></p>
               <p class="card-text">Bathrooms: <%= house.bathrooms %></p>
               <p class="card-text">Capacity: <%= house.guest_limit %></p>
               <p class="card-text">Cost Per Day: $<%= house.cost_per_day %></p>
               <a href="<%= house_path house.id %>" class="btn btn-primary">View Stay</a>
            </div>
         </div>
      </div>      
  <% end %>