<h1>New House</h1>

<%= flash[:message] %> 
<%= form_for @house do |f| %>
    <b><%= f.label "Address: " %></b>
    <%= f.text_field :address %> <br><br>

    <b><%= f.label "Beds: " %></b>
    <%= f.text_field :bedrooms %><br><br>

    <b><%= f.label "Baths: " %></b>
    <%= f.text_field :bathrooms %><br><br>

    <b><%= f.label "Parking spots: " %></b>
    <%= f.text_field :parking %><br><br>

    <b><%= f.label "Room for: " %></b>
    <%= f.text_field :guest_limit %><br><br>
    
    <b><%= f.label "Pet friendly? (true/false) " %></b>
    <%= f.text_field :pet_friendly %><br><br>   

    <b><%= f.label "House Type: " %></b>
    <%= f.text_field :house_type %><br><br>

    <b><%= f.label "Cost Per Day: " %></b>
    <%= f.text_field :cost_per_day %><br><br>
    
    <b><%= f.label "Image URL: " %></b>
    <%= f.text_field :img_url %><br><br> 
    
    <%= f.hidden_field :host_id, value: session[:host] %>

<%= f.submit %>
<% end %>