<h1>Reservation Show</h1>

<h4>Number of Guests: <%= @reservation.number_of_guests %> </h4>
<h4>Start Date: <%= @reservation.reservation_start_date %> </h4>
<h4>End Date: <%= @reservation.reservation_end_date %> </h4>

<%= button_to "Edit", edit_reservation_path, method: :get %>

<%= button_to "Delete", reservation_path, method: :delete %><br>    

<%= button_to "Leave Review", new_review_path, method: :get %>