<h1>New Review</h1>


<%= flash[:message] %> 
<%= form_for @review do |f| %>
    <%= f.label "Rating: " %>
    <%= f.text_field :rating %> <br><br>

    <%= f.label "Comment: " %>
    <%= f.text_field :comment %><br><br>

    <%= f.hidden_field :guest_id, value: session[:guest] %>
    <%= f.hidden_field :reservation_id, value: session[:reservation] %>
    
<%= f.submit %>
<% end %>